<a href="https://colab.research.google.com/github/dibakar75/DeepCNNClassifierProject/blob/main/insurance_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras-tuner in /usr/local/lib/python3.7/dist-packages (1.1.3)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (7.9.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.21.6)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.3)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.0.4)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.9.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.4.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.18.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.0.10)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (3.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.35.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.4.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.50.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.3.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.37.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.13.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.10.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (4.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.2.2)

In [20]:
import tensorflow as tf
import pandas as pd
from tensorflow import keras
import keras_tuner as kt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.losses import MeanSquaredLogarithmicError
from tensorflow.keras.layers import Dense, Dropout

In [3]:
df = pd.read_csv('/content/sample_data/insurance_pred.csv')

In [4]:
df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
X = df.iloc[:, :6]
y = df.iloc[:,6]

In [7]:
#create dummy variables
Sex = pd.get_dummies(df["sex"], drop_first = 'True')
Region = pd.get_dummies(df["region"], drop_first = 'True')
Smoker = pd.get_dummies(df["smoker"], drop_first = 'True')

In [8]:
df = pd.concat([df, Sex, Region, Smoker], axis=1)

In [9]:
df

,age,sex,bmi,children,smoker,region,expenses,male,northwest,southeast,southwest,yes
0,19,female,27.9,0,yes,southwest,16884.92,0,0,0,1,1
1,18,male,33.8,1,no,southeast,1725.55,1,0,1,0,0
2,28,male,33.0,3,no,southeast,4449.46,1,0,1,0,0
3,33,male,22.7,0,no,northwest,21984.47,1,1,0,0,0
4,32,male,28.9,0,no,northwest,3866.86,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,male,31.0,3,no,northwest,10600.55,1,1,0,0,0
1334,18,female,31.9,0,no,northeast,2205.98,0,0,0,0,0
1335,18,female,36.9,0,no,southeast,1629.83,0,0,1,0,0
1336,21,female,25.8,0,no,southwest,2007.95,0,0,0,1,0
1337,61,female,29.1,0,yes,northwest,29141.36,0,1,0,0,1

In [10]:
df = df.drop(['sex', 'region','smoker'], axis=1)

In [11]:
train_set, test_set = train_test_split(df, test_size = 0.2, random_state = 42)
print(f"Rows in train_set : {len(train_set)}\nRows in test_set : {len(test_set)}")

Rows in train_set : 1070
Rows in test_set : 268

In [12]:
#shape of train and test
print(train_set.shape)
print(test_set.shape)

(1070, 9)
(268, 9)

In [13]:
#Data description
train_set.describe()

,age,bmi,children,expenses,male,northwest,southeast,southwest,yes
count,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000
mean,39.357009,30.562150,1.107477,13346.089869,0.512150,0.239252,0.264486,0.246729,0.205607
std,14.073960,6.043266,1.215983,12019.510759,0.500086,0.426827,0.441265,0.431309,0.404334
min,18.000000,16.000000,0.000000,1121.870000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,26.200000,0.000000,4897.665000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,39.500000,30.200000,1.000000,9575.440000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,51.000000,34.500000,2.000000,16746.655000,1.000000,0.000000,1.000000,0.000000,0.000000
max,64.000000,53.100000,5.000000,62592.870000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
ind_var = 'expenses'

In [15]:
# split the data into dependent and independent
x_train, y_train = train_set.drop(ind_var, axis=1), train_set[ind_var]
x_test, y_test = test_set.drop(ind_var, axis=1), test_set[ind_var]

In [16]:
# Feature Scaling
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [18]:
## KERAS tuner

In [ ]:
import pandas as pd

In [22]:
msle = MeanSquaredLogarithmicError()


def model_builder(hp):
  model = tf.keras.Sequential()
  
  units1 = hp.Int('units1', min_value=25, max_value=512, step=32)
  units2 = hp.Int('units2', min_value=25, max_value=512, step=32)
  units3 = hp.Int('units3', min_value=25, max_value=512, step=32)
  model.add(Dense(units=units1, activation='relu'))
  model.add(tf.keras.layers.Dense(units=units2, activation='relu'))
  model.add(tf.keras.layers.Dense(units=units3, activation='relu'))
  model.add(Dense(1, kernel_initializer='normal', activation='linear'))

  hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])

  model.compile(
      optimizer=tf.keras.optimizers.Adam(learning_rate=hp_learning_rate),
      loss=msle,
      metrics=[msle]
  )

  return model

In [23]:
# HyperBand algorithm from keras tuner
tuner = kt.Hyperband(
    model_builder,
    objective='val_mean_squared_logarithmic_error',
    max_epochs=10,
    directory='keras_tuner_dir',
    project_name='keras_tuner_demo'
)

In [25]:
stop_early = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=5)

In [26]:
tuner.search(x_train, y_train, epochs=10, validation_split=0.2, callbacks = [stop_early])

Trial 42 Complete [00h 00m 03s]
val_mean_squared_logarithmic_error: 0.17927835881710052

Best val_mean_squared_logarithmic_error So Far: 0.17503680288791656
Total elapsed time: 00h 02m 22s

In [27]:
##Finding the best hyper parameter
for p in ['units1','units2','units3','learning_rate']:
  print(p, tuner.get_best_hyperparameters()[0].get(p))

units1 89
units2 217
units3 505
learning_rate 0.01

In [28]:
##Model Evaluation
best_hps=tuner.get_best_hyperparameters(num_trials=1)[0]
best_hps

In [29]:
model = tuner.hypermodel.build(best_hps)

In [30]:
history = model.fit(x_train, y_train, epochs=50, validation_split=0.2)

Epoch 1/50
27/27 [==============================] - 1s 26ms/step - loss: 13.9988 - mean_squared_logarithmic_error: 13.8765 - val_loss: 0.7388 - val_mean_squared_logarithmic_error: 0.7385
Epoch 2/50
27/27 [==============================] - 0s 6ms/step - loss: 0.5672 - mean_squared_logarithmic_error: 0.5663 - val_loss: 0.5529 - val_mean_squared_logarithmic_error: 0.5531
Epoch 3/50
27/27 [==============================] - 0s 4ms/step - loss: 0.3769 - mean_squared_logarithmic_error: 0.3756 - val_loss: 0.2993 - val_mean_squared_logarithmic_error: 0.3030
Epoch 4/50
27/27 [==============================] - 0s 4ms/step - loss: 0.2516 - mean_squared_logarithmic_error: 0.2520 - val_loss: 0.2234 - val_mean_squared_logarithmic_error: 0.2289
Epoch 5/50
27/27 [==============================] - 0s 4ms/step - loss: 0.2047 - mean_squared_logarithmic_error: 0.2037 - val_loss: 0.1977 - val_mean_squared_logarithmic_error: 0.2027
Epoch 6/50
27/27 [==============================] - 0s 5ms/step - loss: 0.1815 - mean_squared_logarithmic_error: 0.1803 - val_loss: 0.1879 - val_mean_squared_logarithmic_error: 0.1933
Epoch 7/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1704 - mean_squared_logarithmic_error: 0.1697 - val_loss: 0.1839 - val_mean_squared_logarithmic_error: 0.1887
Epoch 8/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1646 - mean_squared_logarithmic_error: 0.1643 - val_loss: 0.1845 - val_mean_squared_logarithmic_error: 0.1887
Epoch 9/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1606 - mean_squared_logarithmic_error: 0.1598 - val_loss: 0.1800 - val_mean_squared_logarithmic_error: 0.1847
Epoch 10/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1580 - mean_squared_logarithmic_error: 0.1605 - val_loss: 0.1784 - val_mean_squared_logarithmic_error: 0.1829
Epoch 11/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1570 - mean_squared_logarithmic_error: 0.1567 - val_loss: 0.1862 - val_mean_squared_logarithmic_error: 0.1904
Epoch 12/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1559 - mean_squared_logarithmic_error: 0.1561 - val_loss: 0.1791 - val_mean_squared_logarithmic_error: 0.1836
Epoch 13/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1518 - mean_squared_logarithmic_error: 0.1531 - val_loss: 0.1781 - val_mean_squared_logarithmic_error: 0.1823
Epoch 14/50
27/27 [==============================] - 0s 5ms/step - loss: 0.1531 - mean_squared_logarithmic_error: 0.1521 - val_loss: 0.1829 - val_mean_squared_logarithmic_error: 0.1867
Epoch 15/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1510 - mean_squared_logarithmic_error: 0.1505 - val_loss: 0.1782 - val_mean_squared_logarithmic_error: 0.1825
Epoch 16/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1492 - mean_squared_logarithmic_error: 0.1490 - val_loss: 0.1870 - val_mean_squared_logarithmic_error: 0.1907
Epoch 17/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1493 - mean_squared_logarithmic_error: 0.1490 - val_loss: 0.1749 - val_mean_squared_logarithmic_error: 0.1785
Epoch 18/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1484 - mean_squared_logarithmic_error: 0.1488 - val_loss: 0.1789 - val_mean_squared_logarithmic_error: 0.1822
Epoch 19/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1462 - mean_squared_logarithmic_error: 0.1452 - val_loss: 0.1717 - val_mean_squared_logarithmic_error: 0.1753
Epoch 20/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1483 - mean_squared_logarithmic_error: 0.1489 - val_loss: 0.1721 - val_mean_squared_logarithmic_error: 0.1760
Epoch 21/50
27/27 [==============================] - 0s 5ms/step - loss: 0.1476 - mean_squared_logarithmic_error: 0.1479 - val_loss: 0.1807 - val_mean_squared_logarithmic_error: 0.1841
Epoch 22/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1456 - mean_squared_logarithmic_error: 0.1450 - val_loss: 0.1722 - val_mean_squared_logarithmic_error: 0.1759
Epoch 23/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1454 - mean_squared_logarithmic_error: 0.1447 - val_loss: 0.1824 - val_mean_squared_logarithmic_error: 0.1856
Epoch 24/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1446 - mean_squared_logarithmic_error: 0.1438 - val_loss: 0.1711 - val_mean_squared_logarithmic_error: 0.1743
Epoch 25/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1457 - mean_squared_logarithmic_error: 0.1460 - val_loss: 0.1752 - val_mean_squared_logarithmic_error: 0.1781
Epoch 26/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1438 - mean_squared_logarithmic_error: 0.1428 - val_loss: 0.1769 - val_mean_squared_logarithmic_error: 0.1806
Epoch 27/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1445 - mean_squared_logarithmic_error: 0.1454 - val_loss: 0.1806 - val_mean_squared_logarithmic_error: 0.1837
Epoch 28/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1436 - mean_squared_logarithmic_error: 0.1428 - val_loss: 0.1775 - val_mean_squared_logarithmic_error: 0.1806
Epoch 29/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1431 - mean_squared_logarithmic_error: 0.1430 - val_loss: 0.1685 - val_mean_squared_logarithmic_error: 0.1715
Epoch 30/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1412 - mean_squared_logarithmic_error: 0.1403 - val_loss: 0.1752 - val_mean_squared_logarithmic_error: 0.1782
Epoch 31/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1435 - mean_squared_logarithmic_error: 0.1429 - val_loss: 0.1727 - val_mean_squared_logarithmic_error: 0.1761
Epoch 32/50
27/27 [==============================] - 0s 5ms/step - loss: 0.1411 - mean_squared_logarithmic_error: 0.1431 - val_loss: 0.1671 - val_mean_squared_logarithmic_error: 0.1699
Epoch 33/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1412 - mean_squared_logarithmic_error: 0.1411 - val_loss: 0.1797 - val_mean_squared_logarithmic_error: 0.1827
Epoch 34/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1429 - mean_squared_logarithmic_error: 0.1430 - val_loss: 0.1732 - val_mean_squared_logarithmic_error: 0.1759
Epoch 35/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1415 - mean_squared_logarithmic_error: 0.1406 - val_loss: 0.1769 - val_mean_squared_logarithmic_error: 0.1802
Epoch 36/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1420 - mean_squared_logarithmic_error: 0.1412 - val_loss: 0.1676 - val_mean_squared_logarithmic_error: 0.1702
Epoch 37/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1420 - mean_squared_logarithmic_error: 0.1428 - val_loss: 0.1762 - val_mean_squared_logarithmic_error: 0.1793
Epoch 38/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1396 - mean_squared_logarithmic_error: 0.1404 - val_loss: 0.1719 - val_mean_squared_logarithmic_error: 0.1747
Epoch 39/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1403 - mean_squared_logarithmic_error: 0.1400 - val_loss: 0.1727 - val_mean_squared_logarithmic_error: 0.1753
Epoch 40/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1414 - mean_squared_logarithmic_error: 0.1420 - val_loss: 0.1711 - val_mean_squared_logarithmic_error: 0.1743
Epoch 41/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1406 - mean_squared_logarithmic_error: 0.1408 - val_loss: 0.1738 - val_mean_squared_logarithmic_error: 0.1767
Epoch 42/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1394 - mean_squared_logarithmic_error: 0.1385 - val_loss: 0.1713 - val_mean_squared_logarithmic_error: 0.1739
Epoch 43/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1377 - mean_squared_logarithmic_error: 0.1373 - val_loss: 0.1738 - val_mean_squared_logarithmic_error: 0.1770
Epoch 44/50
27/27 [==============================] - 0s 5ms/step - loss: 0.1388 - mean_squared_logarithmic_error: 0.1395 - val_loss: 0.1754 - val_mean_squared_logarithmic_error: 0.1783
Epoch 45/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1412 - mean_squared_logarithmic_error: 0.1422 - val_loss: 0.1756 - val_mean_squared_logarithmic_error: 0.1790
Epoch 46/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1399 - mean_squared_logarithmic_error: 0.1398 - val_loss: 0.1686 - val_mean_squared_logarithmic_error: 0.1715
Epoch 47/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1374 - mean_squared_logarithmic_error: 0.1371 - val_loss: 0.1725 - val_mean_squared_logarithmic_error: 0.1756
Epoch 48/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1387 - mean_squared_logarithmic_error: 0.1392 - val_loss: 0.1709 - val_mean_squared_logarithmic_error: 0.1735
Epoch 49/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1400 - mean_squared_logarithmic_error: 0.1398 - val_loss: 0.1851 - val_mean_squared_logarithmic_error: 0.1881
Epoch 50/50
27/27 [==============================] - 0s 4ms/step - loss: 0.1388 - mean_squared_logarithmic_error: 0.1393 - val_loss: 0.1751 - val_mean_squared_logarithmic_error: 0.1779

In [31]:
eval_result = model.evaluate(x_test, y_test)
print(eval_result)

9/9 [==============================] - 0s 3ms/step - loss: 0.1505 - mean_squared_logarithmic_error: 0.1429
[0.15048184990882874, 0.14285314083099365]

In [32]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 89)                801

 dense_5 (Dense)             (None, 217)               19530

 dense_6 (Dense)             (None, 505)               110090

 dense_7 (Dense)             (None, 1)                 506

=================================================================
Total params: 130,927
Trainable params: 130,927
Non-trainable params: 0
_________________________________________________________________